.container-fluid.py-5 {
    background-color: #001524;
    min-height: 100vh; /* Imposta l'altezza minima al 100% della viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}